/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-field .scroll-pane {
    -fx-background-color: transparent;
}

.text-field .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-field .scroll-pane .content{
    -fx-background-color: transparent;
}

#enterButton {
    -fx-background-color: black;
    -fx-text-fill: white;
}
