/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #FFFFFF;
}

#languageBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #707070;
}

ListView {
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
}